{% load static %}
<div class="footer">
<hr>
    <div class="container pt-5">
        <div class="row">
            <div class="nest col-md-4 order-2 order-lg-1">
                <a class="d-none d-lg-block" >NEST</a>
                <div class="row">
                    <div class="col-2 col-md-2">
                        <img class="icon" src="{% static 'imgs/youtube.svg' %}">
                    </div>
                    <div class="col-2 col-md-2">
                        <img class="icon" src="{% static 'imgs/twitter.svg' %}">
                    </div>
                    <div class="col-2 col-md-2">
                        <img class="icon" src="{% static 'imgs/whatsapp.svg' %}">
                    </div>
                    <div class="col-2 col-md-2">
                        <img class="icon" src="{% static 'imgs/facebook.svg' %}">
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-4 pt-5 order-1 order-lg-2">
            <hr>
            <div class="row">
                <div class="col-4 col-md-3">
                    <a class="link" href="tel:+91-9741647894">+91 9741647894</a>
                </div>
                <div class="col-4 col-md-3"> 
                    <a class="link" href="mailto:info@nestinteriors.com?subject=Enquiry about interiors - from website">info@nestinteriors.com</a>
                </div>
            </div>    
            <hr>
            <div class="row">
                <div class="col-md-2 d-none d-lg-block">
                    <a class="link" href="{% url 'index' %}" onclick="smoothScroll(document.getElementById('mainNavbar'))">HOME</a>
                </div>
                <div class="col-3 col-md-2">
                    <a class="link" href="#" onclick="smoothScroll(document.getElementById('scroll'))">SERVICES</a>
                </div>
                <div class="col-3 col-md-2">
                    <a class="link" href="{% url 'gallery' %}">GALLERY</a>
                </div>
                <div class="col-3 col-md-2">
                    <a class="link" href="{% url 'gallery' %}">PROJECTS</a>
                </div>
                <div class="col-md-2 d-none d-lg-block">
                    <a class="link" href="#" onclick="smoothScroll(document.getElementById('scroll-here'))">WHY NEST?</a>
                </div>
                 <div class="col-3 col-md-2">
                    <a class="link" href="{% url 'contact' %}">CONTACT</a>
                </div>                    
            </div>
        </div>
    </div>
</div>
</div>